configuration {
  font: "VictorMono Nerd Font 14";
  show-icons: true;
  terminal: "kitty";
  sort: true;
  hover-select: true;
  display-window: "Windows";
  display-run: "Run command";
  display-drun: "Applications";
  display-filebrowser: "Files";
  timeout {
    action: "kb-cancel";
    delay:  0;
  }
  filebrowser {
    directories-first: true;
    sorting-method:    "name";
  }
}

@theme "theme"
